.page-header {
    color: #3AA5F8;
}
#white-space {
    background-color: white;
    padding: 20px;
    font-size: 120px;
    font-weight: 900
}

p {
    font-family: Gotham, Arial, Helvetica, sans-serif;
}

.display-text-light {
    color: white !important;
    font-size: 28px;
}

.display-h3 {
    font-size: 20px;
    font-family: Gotham, Arial, Helvetica, sans-serif;
}

.display-h1 {
    font-size: 120px;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-weight: 900
}

.container {
    padding: 3em;
}

.background {
    background: rgb(50,52,55);
    background: linear-gradient(180deg, rgba(50,52,55,1) 10%, rgba(16,16,16,1) 80%);
}

.logo {
    font-size: 20px;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer-text {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
}

.top-header {
    background-color: white;
    padding: 20px;
}

.the-column {
    background-color: black;
    padding: 15px;
    margin-top: 10px;
}

#footer-column {
    background-color: black;
}
#social-media {
    margin-right: 20px;
    padding: 20px;
}
#login {
    background-color: rgb(50,52,55);
    color: white;
    margin-top: -10px;
    border-radius:2.3rem!important
}

#learn-more-btn {
    background-color: #3AA5F8;
    color: white;
    padding: 10px;
    margin-top: 1.6em;
    border-radius:2.3rem!important

}

#learn-more-btn:hover {
    background-color: #3AA5F8;
    color: black;
}

#logo-img {
    margin-top: -10px;
}

#logo {
    margin-top: -2.8px;
}

#learn-more {
    margin: 0px 3px 0px 3px;
}

#login-text {
    margin: 3px 3px 3px 3px;
}