.page-header {
    color: #3AA5F8;
}
#white-space {
    background-color: white;
    padding: 1.25em;
}

.transparent-white-space {
    background-color: transparent;
    padding: 1.255em
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.display-text-light {
    color: white !important;
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
    font-family: 'Montserrat';
}

.title-heading {
    font-size: 7.5em
}

h1 {
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 600
}

h2 {
    font-size: 2em;
    font-family: 'Montserrat';
    font-weight: 500;
}

.container {
    padding: 3em;
}

.background {
    background: rgb(50,52,55);
    background: linear-gradient(180deg, rgba(50,52,55,1) 10%, rgba(16,16,16,1) 80%);
    background-repeat: no-repeat;
}

.logo {
    font-size: 1.25em;
    font-family: 'Montserrat';
    font-weight: bold;
}

.footer-text {
    font-size: 0.75em;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.top-header {
    background-color: white;
    padding: 1.25em;
}

.footer-text {
    padding: 0.9375em;
    margin-top: 1.25em;
}

#footer-column {
    background-color: black;
}
#social-media {
    margin-right: 1.25em;
    padding: 1.25em;
}
#login {
    background-color: rgb(50,52,55);
    color: white;
    margin-top: -0.625em;
    border-radius:2.3rem!important
}

#login:hover {
    background-color: rgb(50,52,55);
    color: black;
}

#learn-more-btn {
    background-color: #3AA5F8;
    color: white;
    padding: 0.625em;
    margin-top: 1.6em;
    border-radius:2.3rem!important

}

#learn-more-btn:hover {
    background-color: #3AA5F8;
    color: black;
}

#logo-img {
    margin-top: -0.625em;
}

#logo {
    margin-top: -0.175em;
}

#learn-more {
    margin: 0px 3px 0px 3px;
}

#login-text {
    margin: 3px 3px 3px 3px;
}

#login-box {
    background-color: white;
    padding: 3em;
    margin-top: 4em;
    margin-bottom: 4em;
    color: black;
    /* border: 3px solid black; */
    border-radius:2.3rem!important
}

.field {
    background-color: #E8F0FE;
    border: none;
    margin-bottom: 1em;
    height: 2em;
    width: 17em;
}

#login-field {
    pad: 1.5em;

}

#login-field-text {
    color: black;
    font-size: 3em;
}

#field-text {
    font-size: 1em;
    font-weight: 600;
}

#continue-button {
    background-color: rgb(50,52,55);
    color: white;
    margin-top: -0.625em;
    border: 1px solid black;
    border-radius:2.3rem!important;
    padding: 0.5em;
}

.btn {
    border-radius: 2.3rem;
    padding: 0.5em;
}